@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
    /* background-color: hsl(0, 0%, 100%); */
    /* background-color: ; */
    background-color: rgb(250, 250, 250);
    /* overflow: hidden; */
    /* width:100vw; */
}
.wrapper {
    overflow: hidden;

}

img {
    width: 100px;
}

a {
    text-decoration: none;
    color:  hsl(233, 26%, 24%);
}

li {
    list-style: none;
}



/*******************************
        Generic Classes  
*******************************/

.hidden {
    display: none;
}

.nav-menu ul .no-margin-bottom {
    margin-bottom: 0;
}

.font-weight-light {
    font-weight: 300;
}

.font-weight-heavy {
    font-weight: 400;
}



/* Styling layout */

.nav-container {
    display: flex;
    position: relative;
    padding: 1.2rem 1.3rem;
    background-color: white;
    justify-content: space-between;
    flex-direction: row;
    z-index: 6;
    
}

.nav-wrapper {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

.logo img {
    width: 8.5rem;
    vertical-align: middle;
}



/* Navigation menu */

.nav-menu {
    position: absolute;
    display: flex;
    background-color: white;
    top: 5rem;
    left: 1.5rem;
    right: 1.5rem;
    border-radius: 5px;
    justify-content: center;
    box-shadow: 2px 2px 100px rgb(56, 55, 55);
    display: none;
    background-color: white;
    z-index: 5;
}


.nav-menu-open {
    width: auto;
    display: flex;
    transform: translateX(0%);
    opacity: 100%;
}


.nav-menu ul{
    padding: 2rem;
    text-align: center;
}

.nav-menu ul li {
    margin-bottom: 1.7rem;
}

.nav-menu ul li a{ 
    letter-spacing: 1px;
}

.nav-menu ul li a:hover,
.nav-menu ul li a:focus {
    color: rgb(71, 71, 71);
}


/* Hamburger icon */

.hamburger {
    display: block;
    position: absolute;
    right: 1rem;
}

.hamburger-icon {
    width: 1.5rem;
}   

.hamburger-open {
    display: none;
}


.close-nav-menu {
    display: none;
    position: absolute;
    right: 1rem;
}

.close-nav-menu-icon {
    vertical-align: middle;
    width: 1rem;
}

.open-nav-menu {
    display: inline-block;
}

.nav-request-invite {
    display: none;
}

/* introduction section */

.intro-content {
    position: relative;
    
}

.mockup-section {
    height: 300px;
}

.mockup-background img {
    display: block;
    width: 100%;
    position: relative;
    top: -50px;
    z-index: 1;
}

.intro-mockups {
    display: flex;
    justify-content: center;
}

.intro-mockups img {
    display:block;
    width: 95%;
    margin: 0 auto;
    position: absolute;
    top: -48px;
    z-index: 2;
}



/* intro content */

.intro-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1.2rem 5rem 1.2rem;
    text-align: center;
    max-width: 40rem;
}


.intro-content-heading {
    font-size: 2.2rem;
    color: hsl(233, 26%, 24%);
    margin-bottom: 1rem;
}


.intro-content-text {
    font-size: .9rem;
    color: rgb(139, 149, 177);
    text-align: justify;
    line-height: 1.4rem;
    margin-bottom: 1.5rem;
}

.request-invite-btn {
    font-size: .9rem;
    font-weight: 700;
    /* border: 1px solid black; */
    padding: 1rem 1.9rem;
    border-radius: 50px;
    letter-spacing: 1px;
    background-image: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: white;
    cursor: pointer;
}




/* choose bank */

.choose-bank-section {
    padding: 5rem 1.2rem 2rem 1.2rem;
    text-align: center;
    background-color:  hsl(220, 16%, 96%);
    position: relative;
    z-index: -1;
}

.choose-bank-wrapper {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.choose-bank-heading {
    font-size: 1.9rem;
    color: hsl(233, 26%, 24%);
    margin-bottom: 1.5rem;
}


.choose-bank-content {
    font-size: .9rem;
    color: rgb(139, 144, 158);
    line-height: 1.4rem;
    margin-bottom: 4rem;
}


.choose-bank-card-img img {
    width: 4.5rem;
    margin-bottom: 1.6rem;
}

.choose-bank-card-heading {
    color: hsl(233, 26%, 24%);
    margin-bottom: 1.6rem;
}


.choose-bank-card-content {
    font-size: .9rem;
    color: rgb(139, 144, 158);
    margin-bottom: 2.5rem;
}



/* Latest Articles */

.latest-articles {
    padding: 6rem 1.2rem 3rem;
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
}

.latest-articles-heading {
    font-size: 1.9rem;
    color: hsl(233, 26%, 24%);
    margin-bottom: 1.5rem;
}



.latest-article-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 2rem;
    max-width: 533px;
}


.latest-article-card-image img{
    width: 100%;
    max-height: 19.72rem;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.latest-article-card-content {
    padding: 1.6rem 1.7rem 3rem;
}

.latest-article-card-author {
    font-size: .6rem;
    letter-spacing: .5px;
    color: rgb(139, 144, 158);
    margin-bottom: 1rem;
}

.latest-article-card-heading {
    font-size: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.latest-article-card-heading:hover,
.latest-article-card-heading:focus {
    color: hsl(136, 65%, 51%);
}

.latest-article-card-text {
    font-size: .8rem;
    text-align: left;
    color: rgb(139, 144, 158);
}


footer {
    background-color: hsl(229, 24%, 28%);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
}


.easybank-footer-logo {
    display: block;
    width: 8.5rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.social-logos {
    margin-bottom: 2rem;
}

.social-logos ul {
    display: flex;
    justify-content: space-between;
    width: 10rem;
}


.social-logos ul li a img {
    width: 1.5rem;
}

.s-i:hover,
.s-i:focus {
    filter: invert(27%) sepia(51%) saturate(6500%) hue-rotate(80deg) brightness(200%) contrast(60%);
}

.footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: .9rem;
    margin-bottom: 1.5rem;
}

.footer-menu div ul li {
    margin-bottom: 1.3rem;
}

.footer-menu div ul li a:hover,
.footer-menu div ul li a:focus {
    color: hsl(136, 65%, 51%);
}

.footer-menu-first {
    width: 100%;
}


.footer-link {
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    
}


.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright .request-invite-btn {
    margin-bottom: 1.5rem;
}

.copyright-content {
    font-size: .9rem;
    font-weight: 300;
    color: rgba(255, 255, 255, .5);
}





/* 350 */

@media (min-width: 350px) {
    .mockup-background img  {
        top: -100px;
    }
    .intro-mockups img {
        top: -95px;
    }
    .mockup-section {
        height: 300px;;
    }
}



/* 375 */

@media (min-width: 375px) {
    .intro-content {
        padding-right: 3rem;
        padding-left: 3rem;
    }
    .choose-bank-section {
        padding-right: 3rem;
        padding-left: 3rem;
    }
    .intro-content-text { 
        margin-bottom: 3rem;
    }
    .latest-articles {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .mockup-background img  {
        top: -100px;
    }
    .intro-mockups img {
        top: -95px;
    }
    .mockup-section {
        height: 350px;
    }
}


@media (min-width:436px) {
    .mockup-background img  {
        top: -60px;
    }
    .intro-mockups img {
        top: -86px;
    }
    .mockup-section {
        height: 400px;
    }   
}



@media (min-width: 475px) {
    .mockup-section {
        height: 450px;
    }   
    .intro-content {
        padding-right: 6rem;
        padding-left: 6rem;
    }
    .choose-bank-section {
        padding-right: 5rem;
        padding-left: 5rem;
    }
    .latest-articles {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}



@media (min-width: 520px) {
    .mockup-background img  {
        top: -140px;
    }
    .intro-mockups img {
        top: -168px;
    }
    .mockup-section {
        height: 450px;
    } 
    
    .intro-content {
        padding-right: 6rem;
        padding-left: 6rem;
    }
    .choose-bank-section {
        padding-right: 7rem;
        padding-left: 7rem;
    }
    .latest-articles {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (min-width: 590px) {
    .mockup-background img  {
        top: -190px;
    }
    .intro-mockups img {
        top: -238px;
    }
    .mockup-section {
        height: 460px;
    } 

    .intro-content-text {
        font-size: 1rem
    }

    .intro-content-heading {
        font-size: 2.5rem;
    }

    .intro-content {
        padding-right: 5rem;
        padding-left: 5rem;
    }

    .choose-bank-section {
        padding-right: 7rem;
        padding-left: 7rem;
    }

    .latest-articles {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .choose-bank-heading {
        font-size: 2.1rem;
    }
    .choose-bank-content {
        font-size: 1rem;
    }
    .choose-bank-card-heading {
        font-size: 1.2rem;
    }

    .choose-bank-card-content {
        font-size: 1rem;
    }

    .latest-articles-heading {
        font-size: 2.1rem;
    }

    .latest-article-card-author {
        font-size: 0.8rem;
    }
    .latest-article-card-heading {
        font-size: 1.2rem;
    }
    .latest-article-card-text {
        font-size: 1rem;
    }
}


@media (min-width: 660px) {
    .mockup-background img  {
        top: -260px;
    }
    .intro-mockups img {
        top: -310px;
    }
    .mockup-section {
        height: 460px;
    }
    .intro-content {
        padding-right: 7rem;
        padding-left: 7rem;
    }
    .choose-bank-section {
        padding-right: 10rem;
        padding-left: 10rem;
    }
    .latest-articles {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}




@media (min-width: 720px) {
    .mockup-background img  {
        top: -290px;
    }
    .intro-mockups img {
        top: -370px;
    }
    .mockup-section {
        height: 480px;
    }
    .intro-content {
        padding-right: 9rem;
        padding-left: 9rem;
    }
    .choose-bank-section {
        padding-right: 12rem;
        padding-left: 12rem;
    }
    .latest-articles {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}



@media (min-width: 760px) {
    .mockup-background {
        display: none;
    }

    .mockup-background-desktop {
        display: flex;
        position: relative;
        right: -15px;
        top: -60px;
        width: 100%;
    }

    .mockup-background-desktop img {
        width: 600px;
        z-index: 1;
    }

    .intro-mockups {
        position: relative;

    }
    .intro-mockups img {
        width: 100%;
        top: -560px;
        right: -60px;
        z-index: 2;   
    }

    .intro-container {
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100vw;
        
        /* overflow-x: visible; */
    }
    
    .mockup-background-desktop{
        overflow-x: hidden;
    }

    /* .intro-mockups {
        overflow-x: hidden;
    } */
    
    .mockup-section {
        /* overflow-x: hidden; */
        width: 50%;
    }
    
    .intro-content {
        order: -1;
        width: 45%;
        padding: 0 2rem;
        text-align: left;
        align-items: flex-start;
    }
    
}



@media (min-width: 860px) {
    .choose-bank-cards {
        display: flex;
        justify-content: space-between;
    }

    .choose-bank-section {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .choose-bank-card-content {
        text-align: left;
        font-size: .9rem;
    }
    .choose-bank-card {
        margin: 0 1rem;
    }

    .choose-bank-intro {
        width: 55%;
        text-align: left;
    }

    .footer-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* background-color: red; */
        width: 100%;
        max-width: 1400px;
    }
    
    .footer-menu {
        flex-grow: 3;
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 5rem;
        margin-bottom: 0;
    }
    .footer-menu-flex-wrapper {
        display: flex;
        /* border: 1px solid red; */
    }

    .footer-logos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        /* border: 2px solid red; */
    }

    .footer-menu-first ul{
        width: 8rem;
        text-align: left;
    }
    .footer-menu-second ul{
        text-align: left;
        width: 8rem;
    }
    .social-logos {
        margin-bottom: 0;
    }

    .footer-menu-first ul .footer-link-last {
        margin-bottom: 0;
    }
    .footer-menu-second ul .footer-link-last {
        margin-bottom: 0;
    }
}


@media (min-width: 1000px) {
    .intro-content {
        padding: 4rem;
    }

    .choose-bank-intro {
        max-width: 40rem;
    }

    .nav-menu {
        display: flex;
        position: static;
        opacity: 1;
        box-shadow: none;
        transform: translateX(0);
    }
    .nav-menu ul {
        padding: 0;
        display: flex;
        align-items: center;
        height: 4rem;
    }

    .nav-menu ul li {
        margin-bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .nav-menu ul li a {
        font-size: .85rem;
        color: rgb(149, 149, 149);
        width: 100%;
        padding: 1.5rem;
        font-weight: 600;
    }

    .nav-menu ul li a:hover,
    .nav-menu ul li a:focus {
        border-bottom: 4px solid hsl(136, 65%, 51%);
        color: rgb(71, 71, 71);
    }


    .hamburger {
        display: none;
    }
    .nav-request-invite {
        display: flex;
        align-items: center;
    }
    .nav-container {
        padding: 0 3rem;
        align-items: center;
        justify-content: center;
        height: 4rem;
    }

    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1400px;
    }

    .nav-request-invite .request-invite-btn {
        padding: .8rem 1.4rem .8rem;
        font-size: .75rem;
        /* height: 2.2rem; */
    }
    .logo {
        display: flex;
        align-items: center;
    }
}


@media (min-width: 1100px) {
    .latest-articles-cards {
        flex-direction: row;
        display: flex;
    }
    .latest-article-card {
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .latest-articles-heading  {
        width: 100%;
        margin-left: 1.7rem;
    }
    .choose-bank-section {
        padding-left: 5.3rem;
        padding-right: 5.3rem;
    }

    .latest-article-card-image img {
        height: 12rem;
    }
}

@media (min-width:1300px) {
    
    .mockup-background-desktop {
        display: flex;
        position: relative;
        right: -24px;
        top: -200px;
        width: 100%;
    }
    
    .mockup-background-desktop img {
        z-index: 1;
        width: 1000px;
    }

    .intro-mockups img {
        width: 600px;
        top: -900px;
        right: -60px;
        z-index: 2;   
    }

    .intro-container {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

}


@media (min-width: 1560px) {
    .intro-content {
        margin-left: 5%;
    }
    .intro-wrapper {
        display: flex;
        justify-content: center;
        max-width: 1400px;
    }
    
}

@media (min-width: 1720px) {
    .intro-content{
        margin-left: 10%;
    }
}